/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.service-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ifm-color-primary-darker);
    color: var(--ifm-color-primary-lightest);
    padding: 10px;
    padding-left: 20px;
    gap: 10px;
}

.service-banner-icon {
    font-size: 3em;
    color: var(--ifm-color-primary-lighter);
    @media (width <= 600px) {
        font-size: 2em;
    }
}

.service-banner-title {
    font-weight: bold;
    font-size: 1.5em;
    width: 30vw;
    color: var(--ifm-color-primary-lighter);
    @media (width <= 600px) {
        font-size: 1em;
        width: 50vw;
    }
}

.service-banner-detail {
    font-weight: normal;
    font-size: 0.8em;
    color: var(--ifm-color-primary-lightest);
    @media (width <= 600px) {
        font-size: 0.6em;
    }
}

.service-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}
.service-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: var(--ifm-color-primary-darker); */
    /* color: var(--ifm-color-primary-lightest); */
    padding: 10px;

    /* border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray; */
    font-size: 0.7em;

    margin-right: 5px;
}

.pretty-wrap {
    text-wrap: pretty;
}
