.page-header {
    background-image: url("/img/hero-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-left: 30px;
}

.page-header-text {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.3em;
    padding-top: 20px;
    padding-right: 10px;
    margin-left: -5px;
    text-wrap: balance;
}

.page-header-details-text {
    font-family: Lexend, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.3em;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    text-wrap: balance;
}

.page-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-left: 30px;
}

.page-container {
    clear: both;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-header {
    font-weight: 600;
    font-size: 0.9em;
    padding: 10px;
    text-transform: uppercase;
    text-wrap: pretty;
}
.block-content {
    font-weight: 400;
    font-size: 0.7em;
    padding: 10px;
    line-height: 1.4;
    text-wrap: pretty;
}

.pain-point-container {
    align-items: center;
    max-width: 1200px;

    @media (width > 800px) {
        display: grid;
        grid-template:
            [row1-start] "pipeline pipeline pos1 pos2" [row1-end]
            [row2-start] "pos3 pos4 pos5 pos6" [row2-end];
        gap: 20px 10px;
    }
}

.ppbase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.pos1 {
    margin-top: 10px;
    grid-area: pos1;
}
.pos2 {
    grid-area: pos2;
}
.pos2 {
    grid-area: pos2;
}
.pos3 {
    grid-area: pos3;
}
.pos4 {
    grid-area: pos4;
}
.pos5 {
    grid-area: pos5;
}
.pos6 {
    grid-area: pos6;
}

.pos-pipeline {
    grid-area: pipeline;
    border: 1px solid gray;
    border-radius: 1em;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}
