.page-header {
    background-image: url("/img/hero-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-left: 30px;
}

.page-header-text {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.3em;
    padding-top: 20px;
    padding-right: 10px;
    margin-left: -5px;
    text-wrap: balance;
}

.page-header-details-text {
    font-family: Lexend, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.3em;
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    text-wrap: balance;
}

.page-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-left: 30px;
}

.page-container {
    clear: both;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-header {
    font-weight: 600;
    font-size: 0.9em;
    padding: 10px;
    text-transform: uppercase;
    text-wrap: pretty;
}
.block-content {
    font-weight: 400;
    font-size: 0.7em;
    padding: 10px;
    line-height: 1.4;
    text-wrap: pretty;
}

.pain-point-container {
    @media (width > 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px 30px;
    }
}
