.adv-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
    gap: 10px;
}

.adv-subcontainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 610px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: Lexend, sans-serif;
    text-wrap: pretty;

    @media (width <= 500px) {
        width: 100%;
    }
}

.adv-img {
    width: 250px;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
    background: transparent;

    @media (width <= 500px) {
        width: 100%;
    }
}

.adv-blurb {
    font-family: Lexend, sans-serif;
    font-size: 11pt;
    text-wrap: wrap;
    width: 300px;
}

.adv-blurb-long {
    font-family: Lexend, sans-serif;
    font-size: 12pt;
    text-wrap: wrap;
    max-width: 70%;
}

.adv-blurb-label {
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 10px;
}

.service-map {
    width: 255px;
    background: transparent;
    @media (width <= 500px) {
        width: 100%;
    }
}

.service-area-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-area-legend-item {
    display: flex;
    align-items: center;
    font-size: clamp(8pt, 0.7vw, 10pt);
}

.color-chip {
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 2px;

    margin: 5px;
}
