.adv-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.adv-subcontainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    font-family: Lexend, sans-serif;
    text-wrap: pretty;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    min-height: 202px;
}

.adv-blurb {
    font-family: Lexend, sans-serif;
    font-size: 12pt;
    text-wrap: wrap;
    max-width: 300px;
}

.adv-blurb-long {
    font-family: Lexend, sans-serif;
    font-size: 12pt;
    text-wrap: wrap;

    max-width: 950px;
}

.adv-blurb-label {
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 10px;
}

.adv-img {
    width: 250px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.service-map {
    max-width: 240px;
    background: transparent;
}

.service-area-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(8pt, 1vw, 12pt);
}

.service-area-legend-item {
    display: flex;
    align-items: center;
    font-size: clamp(8pt, 0.7vw, 10pt);
}

.color-chip {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
