.footprint-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    font-family: Lexend, sans-serif;
    text-wrap: pretty;
}

.service-area-blurb {
    font-family: Lexend, sans-serif;
    font-size: 12pt;
    text-wrap: wrap;
    max-width: 600px;
}

.service-map {
    max-width: 300px;
    background: transparent;
}

.service-area-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(8pt, 0.8vw, 12pt);
}

.service-area-item {
    display: flex;
    align-items: center;
}

.color-chip {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
