.hero-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 400px;
}

.hero-scroller {
    height: 38px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: -20px;
}
.cmc-logo {
    width: 160px;
    margin-top: 40px;
}

.hero-header-text {
    font-size: clamp(1rem, 9vw, 4rem);
    font-weight: 800;
    margin-top: 10px;
    padding-top: 0;
}

.eyes-on-container {
    clear: both;
    float: right;
    @media (width <= 1000px) {
        float: none !important;
    }
}

.eyes-on-img {
    width: clamp(290px, 26vw, 500px);
    /* filter: drop-shadow(1px 1px 0px black); */
    margin-right: 30px;
    opacity: 1;
    padding-top: 20px;
    /* 
    @media (width <= 500) {
        filter: none;
    } */
}
